main {
  grid-area: main;
  background-color: var(--light-secondary-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


main h2 {
  padding: 1rem;
}

main .list-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}