:root {
  --primary-color: #606060;
  --secondary-color: #D6ED17;

  --ligth-primary-color: #6e6c6cc2;
  --light-secondary-color: #d8ed172f;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer'
  ;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  grid-area: header;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}